[submodule "imageboard/source/LynxChan"]
	path = imageboard/source/LynxChan
	url = https://gitgud.io/LynxChan/LynxChan
[submodule "imageboard/source/PenumbraLynx"]
	path = imageboard/source/PenumbraLynx
	url = https://gitgud.io/LynxChan/PenumbraLynx
